p.lead {
    font-size: 16px !important;
    margin-bottom: 0px;
}

b {
    font-size: 16px !important;
}

.publication-title {
    margin-bottom: -40px;
}

.article-title {
    margin-left: 30px;
}

.article-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

#twitter-handle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav li {
    cursor: pointer;
}

.carousel {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.icon-container {
    display: inline-block !important;
    width: 20px !important;
    height: 14px !important;
    margin-right: 15px;
    margin-bottom: 12px;
}

#Bio-container {
    text-align: justify;
    text-justify: inter-word;
}

.dummy-space {
    margin-bottom: 25px;
}

#biopic-container {
    margin-left: 0px;
}

#biotext-container {
    width: 555px;
}